<!-- Footer -->
<footer id="footer" class="text-center text-lg-start bg-body-tertiary text-muted footer">
  {% if site.locale and site.locale != "" and site.locale != nil %}
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block footer-div">
      <span>{{site.data.sitetext[site.locale].footer.socialtitle}}</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
        <ul class="list-inline social-buttons">
          {% for link in site.data.sitetext[site.locale].footer.social %}
          <li class="list-inline-item">
            {% if link.url %}
            <a href="{{ link.url }}">
              {% if link.icon %}<i class="{{ link.icon }}"></i>{% endif %}
            </a>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">{{ site.title }}</h6>
          <p>
            {{ site.description }}
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            {{site.data.sitetext[site.locale].footer.navtitle}}
          </h6>
          {%- for link in site.data.navigation[site.locale].nav -%}
            <p>
              {%- if link.url -%}
              <a class="js-scroll-trigger" href="{{ link.url }}"
                >{{ link.title }}</a
              >
              {%- elsif link.section -%}
              <a
                class="js-scroll-trigger"
                href="{{ site.baseurl }}/#{{ link.section }}"
                >{{ link.title }}</a
              >
              {%- else -%}
              <a class="js-scroll-trigger" href="#">{{ link.title }}</a>
              {%- endif -%}

            </p>
         
          {%- endfor -%}
          

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">{{ site.data.sitetext[site.locale].footer.contact.title}}</h6>
          <p><i class="fas fa-home me-3"></i> {{ site.data.sitetext[site.locale].footer.contact.address}}</p>
          <p><i class="fas fa-envelope me-3"></i>{{ site.data.sitetext[site.locale].footer.contact.email}}</p>
          <p><i class="fas fa-phone me-3"></i> {{ site.data.sitetext[site.locale].footer.contact.phone}}</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->


  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    <ul class="list-inline quicklinks">
      <li class="list-inline-item">
        <a href="legal"
              >{{ site.data.sitetext[site.locale].footer.legal | default:
              "Privacy Policy" }}</a
        >
      </li>
    </ul>
    <span class="copyright"
          >Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</span
        >
  </div>
  <!-- Copyright -->


  {% endif %}
</footer>
{% if page.layout == "page" %}
<script>
  fixPageShort();
  function fixPageShort() {
    if (window.innerHeight > document.body.offsetHeight) {
      document.getElementById("footer").style.position = "fixed";
      document.getElementById("footer").style.bottom = 0;
      document.getElementById("footer").style.right = 0;
      document.getElementById("footer").style.left = 0;
      document.getElementById("footer").style.width = "100%";
    }
  }
</script>
{% endif %}