<!-- Galería -->
<section class="bg-light page-section" id="galeria">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Galería de fotos</h2>
      </div>  
    </div>
    <div class="row">
      {% for fotos in site.data.sitetext[site.locale].galeria.list %}
        <div class="col-md-3 col-sm-6 gallery-item">
          <div class="gallery-image">
            <img class="img-fluid" src="{{ fotos.url }}" alt="Galería de fotos">
          </div>
        </div>
      {% endfor %}


    </div>
  </div>
</section>