<!-- Portfolio Modals -->
{% for project in site.portfolio %}
{% if site.locale and site.locale != "" and site.locale != nil %}
<div
  class="portfolio-modal modal fade"
  id="p{{ forloop.index }}"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2>{{ project.title }}</h2>
              <p class="item-intro text-muted">{{ project.subtitle }}</p>

              <div id="scrollContainerModal" class="row justify-content-center scrollContainerModal">
                <div class="scroll-disabler"></div>
                {% for foto in project.image %}
                <div id="scrollElementsModal" class="col-lg-6 col-md-6 col-sm-6 col-6 text-center scrollElementsModal">
                    <div class="gallery-image">
                      <img class="img-fluid" src="{{ foto.url }}" >
                    </div>
                  </div>
                {% endfor %}
              </div>
              
              <p>{{ project.content }}</p>
               
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% else %}
<div
  class="portfolio-modal modal fade"
  id="p{{ forloop.index }}"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2>{{ project.title }}</h2>
              <p class="item-intro text-muted">{{ project.subtitle }}</p>

              <div class="scrollContainerModal justify-content-center">
                <div class="scroll-disabler"></div>
                {% for foto in project.image %}
                <div id="scrollElementsModal" class="col-lg-6 col-md-6 col-sm-6 col-6 text-center scrollElementsModal">
                    <div class="gallery-image">
                      <img class="img-fluid" src="{{ foto.url }}" >
                    </div>
                  </div>
                {% endfor %}
              </div>
              
              <p>{{ project.content }}</p>
            
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endif %}
{% endfor %}
<!-- End Portfolio Modals -->

<script>
  const scrollContainerModal = document.getElementById('scrollContainerModal');
  const scrollElementsModal = scrollContainerModal.querySelectorAll('#scrollElementsModal');

  function isElementInViewport(el) {
    const rect = el.getBoundingClientRect();
    return rect.right > 0;
  }

  window.addEventListener('load', () => {
    const scrollWidth = scrollContainerModal.scrollWidth;

    setInterval(() => {
      const firstElement = scrollContainerModal.querySelector('#scrollElementsModal');

      if (!isElementInViewport(firstElement)) {
        scrollContainerModal.appendChild(firstElement); // Mueve el primer elemento al final
        scrollContainerModal.scrollLeft -= firstElement.offsetWidth; // Ajusta la posición del scroll
      }

      scrollContainerModal.scrollLeft += 1; // Realiza un scroll constante
    }, 15);
  });
</script>
