.client-logo {
  display: block;
  text-align: center;
  font-size: 24px; // Tamaño de letra predeterminado para pantallas grandes
  color: #888888;  // Gris oscuro
  font-weight: normal;  // Grosor normal
  text-decoration: none;  // Sin subrayado
  transition: color 0.3s ease; // Efecto suave al pasar el mouse

  &:hover {
    color: #333333; // Gris más oscuro al pasar el mouse
  }

  // Media queries para pantallas más pequeñas
  @media (max-width: 768px) {
    font-size: 20px; // Reducir un poco el tamaño para pantallas medianas
  }

  @media (max-width: 576px) {
    font-size: 16px; // Tamaño aún más pequeño para pantallas pequeñas
  }
}
