// Styling for the contact section
section#contact {
  background-color: $gray-900;
  background-image: url("#{$contact-image}");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  .section-heading {
    color: $white;
  }
  .section-subheading{
    color: $white;
  }
  .form-group {
    margin-bottom: 25px;
    input,
    textarea {
      padding: 20px;
    }
    input.form-control {
      height: auto;
    }
    textarea.form-control {
      height: 248px;
    }
  }
  .form-control:focus {
    border-color: $primary;
    box-shadow: none;
  }
  ::-webkit-input-placeholder {
    font-weight: 700;
    color: $gray-400;
    @include heading-font;
  }
  :-moz-placeholder {
    font-weight: 700;
    color: $gray-400;
    @include heading-font;
  }
  ::-moz-placeholder {
    font-weight: 700;
    color: $gray-400;
    @include heading-font;
  }
  :-ms-input-placeholder {
    font-weight: 700;
    color: $gray-400;
    @include heading-font;
  }
  
}

/* Botón responsivo */
.btn-responsive {
  padding: 1rem 2rem; /* Tamaño por defecto */
  font-size: 1.25rem; /* Tamaño de texto por defecto */
}

/* Pantallas medianas (tablets) */
@media (max-width: 768px) {
  section#contact {
    background-position: -80px center;
    background-size: cover;
  }
  .btn-responsive {
    padding: 0.75rem 1.5rem; /* Reducir tamaño */
    font-size: 1rem; /* Reducir tamaño de texto */
  }
}

/* Pantallas pequeñas (celulares) */
@media (max-width: 576px) {
  section#contact {
    background-position: -80px center;
    background-size: cover;
  }
  .btn-responsive {
    padding: 0.5rem 1rem; /* Tamaño más pequeño */
    font-size: 0.875rem; /* Texto más pequeño */
  }
}

