// Styling for the services section
.service-heading {
  margin: 15px 0;
  text-transform: none;
}

.row {
  margin-bottom: 30px; // Espaciado entre filas
}

.col-lg-3,
.col-md-4,
.col-sm-6,
.col-6 {
  margin-bottom: 20px; // Espaciado entre elementos
}

.icon-responsive {
  font-size: 50%;
}

@media (max-width: 768px) {
  .p .h4{
    font-size: 15px !important; 
  }
}

@media (max-width: 576px) {
  .p .h4{
    font-size: 15px !important;
  }
}

#scrollContainer {
  display: flex;
  flex-wrap: nowrap; /* Evita que los ítems bajen a otra fila */
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#scrollContainer > div {
  scroll-snap-align: start; /* Cada ítem se alinea al inicio */
  flex: 0 0 auto; /* Evita que los ítems cambien de tamaño */
  padding: 16px; /* Espaciado alrededor de los ítems */
}

#scrollContainer::-webkit-scrollbar {
  display: none; /* Oculta la barra de desplazamiento en navegadores compatibles */
}


#scrollContainer::-webkit-scrollbar-thumb {
  background-color: #888; /* Color del scrollbar */
  border-radius: 4px;
}

#scrollContainer::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color del scrollbar al pasar el mouse */
}

.scroll-disabler {
  width: 100vw;
  height: 34.4px;
  position: absolute;
  background-color: rgba(0,0,0 , 0.0001);
}

 ::-webkit-scrollbar {
  display: none;
}

#scrollElement {
  padding: 8px;
}

#serviceTitle{
  flex-wrap: wrap;
}

#scrollContainer{
  .icon-responsive{
    color: $primary;
  }
}




