.whatsapp-button {
  position: fixed;
  bottom: 20px;  // Distancia desde la parte inferior
  right: 20px;    // Distancia desde la parte izquierda
  background-color: #25D366;  // Color de fondo de WhatsApp
  color: white;  // Color del ícono
  border-radius: 50%;  // Hacer el botón redondo
  padding: 7px 18px;  // Tamaño del botón
  width: 60px;  // Ancho fijo para hacer el botón circular
  height: 60px;
  font-size: 30px;  // Tamaño del ícono
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  // Sombra para dar un poco de profundidad
  transition: background-color 0.3s ease;  // Transición para el hover

  &:hover {
    background-color: #128C7E;  // Color de fondo cuando pasa el mouse
  }
}
