// Global styling for this template
body {
  overflow-x: hidden;
  @include body-font;
}

p {
  line-height: 1.75;

  // Ajustar tamaños para pantallas más pequeñas
  @media (max-width: 768px) {
    font-size: 95%; // Reducir el tamaño a un 90% para tablets
  }

  @media (max-width: 576px) {
    font-size: 90%; // Reducir aún más a un 80% para móviles
  }
}

a {
  color: $primary;
  &:hover {
    color: darken($primary, 10%);
  }
}

.text-primary {
  color: $primary !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  @include heading-font;

  // Ajustar tamaños para pantallas más pequeñas
  @media (max-width: 768px) {
    font-size: 95%; // Reducir el tamaño a un 90% para tablets
  }

  @media (max-width: 576px) {
    font-size: 90%; // Reducir aún más a un 80% para móviles
  }
}

.page-section {
  padding: 80px 0;

  @media (max-width: 768px) {
    padding: 70px 0;
  }

  @media (max-width: 576px) {
    padding: 60px 0;
  }

  h2.section-heading {
    font-size: 40px; // Tamaño predeterminado para pantallas grandes
    margin-top: 0;
    margin-bottom: 10px;

    // Ajustar para pantallas más pequeñas
    @media (max-width: 768px) {
      font-size: 32px; // Reducir tamaño para tablets
    }

    @media (max-width: 576px) {
      font-size: 28px; // Reducir aún más para móviles
    }
  }

  h3.section-subheading {
    font-size: 16px; // Tamaño predeterminado para pantallas grandes
    font-weight: 400;
    margin-bottom: 20px;
    text-transform: none;
    @include serif-font;

    // Ajustar para pantallas más pequeñas
    @media (max-width: 768px) {
      font-size: 14px; // Reducir para tablets
    }

    @media (max-width: 576px) {
      font-size: 12px; // Reducir aún más para móviles
    }
  }
}

@media (min-width: 768px) {
  section {
    padding: 20px 0;
  }
}

// Highlight color customization
::-moz-selection {
  background: #fff;
  text-shadow: none;
}

::selection {
  background-color: rgba(211, 211, 211, 0.5); /* Gris claro con transparencia */
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}
